.header-bg {
    height:930px;
    width: 100%;
    position:relative;
    background-image: url('../../../images/chairBg.png');
    background-size: cover;
}
.header-bg::after{
    height:830px;
    content:' ';
    position: absolute;
    top: 0;
    width: 28%;
    right: 0;
    background-color: #3A4256;
    z-index: -1;
}